<!-- app/views/pixel_art_generator/index.html.erb -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pixel Art Generator</title>
  <%= stylesheet_link_tag 'pixel_art_generator' %>
  <%= javascript_include_tag 'pixel_art_generator' %>
</head>
<body>

<h1>Pixel Art Generator</h1>

<div id="canvas-settings">
  <label>Canvas Size:</label>
  <div>
    <% [16, 32, 48, 64, 80, 96, 112, 128].each do |size| %>
      <input type="radio" name="pixel-size" id="size<%= size %>" value="<%= size %>" <%= "checked" if size == 16 %>>
      <label for="size<%= size %>"><%= size %>x<%= size %></label>
    <% end %>
  </div>
</div>

<div id="canvas-container">
  <!-- Pixel art canvas goes here -->
</div>

<button id="clear-button">Clear Canvas</button>
<input type="file" id="upload-input" accept="image/*">

</body>
</html>